##
## Environment Variables
## See README.md
##

# REQUIRED
SHORT_URL_CHARS=1234567890abcdefABCDEF
SUPABASE_URL=https://xxxxxxxxxx.supabase.co
SUPABASE_KEY=ey...
SUPABASE_TABLE=table_name
NETLIFY_API_ID=0ajsoas9cjapc9japsc9ja0cj
API_UA_STRING=Your Name <you@example.com>
MAIL_HOST=smtp.ethereal.email
MAIL_USERNAME=you@example.com
MAIL_PASSWORD=securepassword
MAIL_NAME=Your Name
MAIL_EMAIL=you@example.com
SITE_TITLE=FYDLI

# OPTIONAL
# Length of short URLs
SHORT_URL_LENGTH=3
# Set true to make site available for everyone
PUBLIC_SITE=
# Required if PUBLIC_SITE !== true
MAIN_PAGE=shorten

# LOCAL
# Local Testing (using Netlify CLI) when not linked
URL=https://sho.rt
# Site ID (API ID) availeble under Site Settings > Site Details
SITE_ID=089asd09-098asd-09as8d-09a8sd
